<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Python RPG Game</title>
</head>
<body class="bg-black text-purple-500 mx-5">
    <nav class="py-3">
        <div>
            <a href="/battle">
                <button type="button" class="cursor-pointer text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading focus:ring-2 focus:ring-neutral-tertiary shadow-xs font-medium leading-5 rounded-full text-sm px-4 py-2.5 focus:outline-none">
                    ⚔️Battle
                </button>
            </a>

            <a href="/shop">
                <button type="button" class="cursor-pointer text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading focus:ring-2 focus:ring-neutral-tertiary shadow-xs font-medium leading-5 rounded-full text-sm px-4 py-2.5 focus:outline-none">
                    💰Shop
                </button>
            </a>
        </div>
    </nav>
    <h1 class="text-3xl text-green-500">Simple Python RPG Game</h1>
    <span>{{ gameState.state }} : {{ gameState.zone }}</span>
    <section>
        <div class="grid grid-cols-3 my-3 gap-2">
            <div class="border-2 border rounded-md border-purple-500 p-3">
                {% include "player.html" %}
            </div>
            <div class="border-2 border rounded-md border-purple-500 p-3">
                {% include "inventory.html" %}
            </div>
            <div class="border-2 border rounded-md border-purple-500 p-3">
                {% include "equipment.html" %}
            </div>
            <div class="border-2 border rounded-md border-purple-500 p-3">
                {% include "zone.html" %}
            </div>
            {% if gameState.zone == "forest" %}
                <div class="border-2 border rounded-md border-purple-500 p-3">
                    <a href="{{ url_for('state', state='', zone='forest', enemy='troll') }}" class="btn">
                        Troll
                    </a>
                </div>
            {% endif %}
        </div>

        {% block content %}{% endblock %}
    </section>

    
</body>
</html>