<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Python RPG Game</title>
</head>
<body class="bg-black text-purple-500">
    <nav class="py-3">
        <div>
            <a href="/battle">
                <button type="button" class="cursor-pointer text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading focus:ring-2 focus:ring-neutral-tertiary shadow-xs font-medium leading-5 rounded-full text-sm px-4 py-2.5 focus:outline-none">
                    ⚔️Battle
                </button>
            </a>
            <a href="{{ url_for('state', state='inventory', zone='town') }}">
                <button type="button" class="cursor-pointer text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading focus:ring-2 focus:ring-neutral-tertiary shadow-xs font-medium leading-5 rounded-full text-sm px-4 py-2.5 focus:outline-none">
                    👜Inventory
                </button>
            </a>

            <a href="/shop">
                <button type="button" class="cursor-pointer text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading focus:ring-2 focus:ring-neutral-tertiary shadow-xs font-medium leading-5 rounded-full text-sm px-4 py-2.5 focus:outline-none">
                    💰Shop
                </button>
            </a>
        </div>
    </nav>
    <h1 class="text-3xl text-green-500">Simple Python RPG Game</h1>
    <section>
        <div class="flex flex-row w-full">
            <div class="border-2 border-purple-500 rounded-md w-1/2 p-3 my-3">
                <h3 class="text-xl">Player Information</h3>
                <p>Name: {{ gameState.player.name }}</p>
                <p>Level: {{ gameState.player.level }}</p>
                <p>Exp: {{ gameState.player.exp }}</p>
                <p>HP: {{ gameState.player.hp }}</p>
                <p>Min Dmg: {{ gameState.player.min_damage }}</p>
                <p>Max Dmg: {{ gameState.player.max_damage }}</p>
            </div>

            <div class="border-2 border-dotted border-purple-500 rounded-md w-1/2 p-3 my-3">
                <h3>Debugging: Current State</h3>
                <p>Zone: {{ gameState.zone | capitalize }}</p>
                <p>Enemy: {{ gameState.enemy.name | capitalize }}</p>
                <p>State: {{ gameState.state | capitalize}}</p>
            </div>
        </div>

        {% block content %}{% endblock %}
    </section>

    
</body>
</html>