{% extends 'index.html' %}

{% block content %}
    {% if gameState.state == "inventory" %}
        <div class="border-2 border-dotted rounded-md border-purple-500 p-3 my-3">
            <h3>Debugging: Testing State - INVENTORY</h3>
            <p>State: {{ gameState.state }}</p>
            <div class="grid grid-cols-6">
                {% for item in gameState.player.inventory %}
                <div class="relative group cursor-pointer m-1">
                    {{loop.index}}. {{item.name}}
                    <span
                        class="absolute z-1 mt-1
                            opacity-0 group-hover:opacity-100
                            bg-gray-900 text-green-500 text-xs border-2 border-purple-500
                            px-2 py-1 rounded shadow-lg whitespace-nowrap">
                        <!-- name: str, attack=0, defense=0, value=0, weight=0.0 --> 
                        {% if item.type == "weapon" %}
                            {{ item.name | upper }}<br>
                            {{ item.attack }} Attack Damage <br>
                            {{ item.defense | capitalize }} Defense <br>
                            {{ item.value | capitalize }} Value <br>
                            {{ item.weight | capitalize }} Weight <br>
                            {{ item.type | capitalize }} Type <br>
                        {% endif %}
                        {% if item.type == "consumeable" %}
                            {{ item.name | upper }}<br>
                            {% if item.health_restore != 0 %}
                                {{ item.health_restore }} Restore Health <br>
                            {% endif %}
                            {% if item.mana_restore != 0 %}
                                {{ item.mana_restore | capitalize}} Restore Mana <br>
                            {% endif %}
                            {{ item.value | capitalize }} Value <br>
                            {{ item.weight | capitalize }} Weight <br>
                            {{ item.type | capitalize }} Type <br>
                        {% endif %}
                        
                    </span>
                </div>
                {% endfor %}
            </div>
                
        </div>
    {% endif %}
{% endblock %}